<div class="container p-5">
  <h1 class="text-center">My Posts</h1>

  
  <div id="posts">
    <% if !@posts %>
      <% @posts.each do |post| %>
        <% if post.account_id == current_account.id %>
            <%= render post %>
            <p>
            <%= link_to "Show this post", post, class: "btn btn-outline-primary btn-sm" %>
            </p>
            <hr>
          <% end %>
      <% end %>
    <% else %>
      <p>No posts yet!</p>
    <% end %>
  </div>

  <% if account_signed_in? %>
    <%= link_to "New post", new_post_path, class: "btn btn-outline-primary btn-sm" %>
  <% else %>
    <p>Sign in to create your post</p>
  <% end %>
</div>