
<section>
    <div class="container">
        <h1 class="text-center">Your Profile</h1>
        <p><strong>Name :</strong><%= @user.name %> </p>
        <p><strong>Email :</strong><%= @user.email %> </p>
        
    </div>
</section>